<ion-header>
  <ion-toolbar>
    <ion-title> Olá, </ion-title>
    <ion-title>Onde você quer ir?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-input placeholder=""></ion-input>
  <ion-item>
    <ion-label position="floating">
      <ion-text color="medium">
        <ion-icon name="location-outline"></ion-icon>Qual o seu destino?</ion-text>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label>
    <ion-input></ion-input>
  </ion-item>


<ion-card>
  <ion-grid>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1uXKZLEKwABC--xczjRsLjLpo6PBMAgAeaw&usqp=CAU" />
    <ion-card-header>
      <ion-card-subtitle>
        <ion-text color="medium">2018.09.17</ion-text>
      </ion-card-subtitle>
      <ion-card-title>Daily Scenery </ion-card-title>
    </ion-card-header>
    <ion-card-content>Santa Barbara, United States
      <ion-row>
        <ion-col size="auto">
          <div>
            <ion-avatar> <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt2t9VIWM5TvGVcBs7WzqEdIqqLwyQq-h18w&usqp=CAU">
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="10">
          <ion-avatar> <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHtQbiHqWZ_cwVhx7AyRVqH2be9BqH8Gpm0w&usqp=CAU">
          </ion-avatar>
        </ion-col>
      </ion-row>
      
    </ion-card-content>

  </ion-grid>
</ion-card>
</ion-content>
