#container {
  text-align: left;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-content: center;
}

#container p {
  font-size: 14px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: bold;
}

